html, body{
    height: 100%;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page{
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 60px;
}

/* TARJETA PRINCIPAL Posible Template*/

.reservation-card{
    width: min(1600px, 96vw);
    border: 2px solid #000;
    background: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 40px 90px;
    min-height: 650px;
}

/* COLUMNA IZQUIERDA */

.reservation-media{
    flex: 0 0 42%;
    display: flex;
    flex-direction: column;
}

.reservation-title{
    margin: 0 0 16px 0;
    font-size: 50px;
    font-weight: 700;
}

.media-box{
    flex: 1;
    border: 2px solid #000;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 540px;
}

.media-x{
    width: 75%;
    height: 75%;
    stroke: #000;
    stroke-width: 8;
    stroke-linecap: round;
    fill: none;
}

/* COLUMNA DERECHA */

.reservation-data{
    flex: 0 0 44%;
    display: flex;
    flex-direction: column;

    margin-left: auto;      /* CLAVE: la empuja al borde derecho */
    padding-left: 100px;     /* separación visual entre columnas */
    padding-right: 10px;  /* empuja visualmente hacia el borde derecho */
}


.reservation-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.info-line{
    margin: 0;
    font-size: 30px;
}

.cta{
    align-self: flex-end;
    margin-top: 60px;

    padding: 8px 18px;
    border: 2px solid #000;
    background: #ff6b6b;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}
