* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* MAIN */

.carData-main {
    width: min(1400px, 94vw);
    margin: 32px auto;

    padding: 34px 26px 90px;
    flex: 1;

    background: #e9e9e9;
    border: 4px solid #000;

    display: flex;
    justify-content: space-between;
    gap: 80px;

    position: relative;
    min-height: 0;
}

/* COLUMNA IZQUIERDA */

.carData-left {
    flex: 0 0 46%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.carData-title {
    margin: 0 0 16px;
    font-size: 50px;
    font-weight: 700;
}

.media-box {
    flex: 1;
    min-height: 420px;

    border: 2px solid #000;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-x{
    width: 75%;
    height: 75%;
    stroke: #000;
    stroke-width: 8;
    stroke-linecap: round;
    fill: none;
}

/* COLUMNA DERECHA */

.carData-right {
    flex: 0 0 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
}

.info-line {
    margin: 3px;
    font-size: 40px;
}

.cta {
    position: absolute;
    right: 26px;
    bottom: 26px;

    padding: 8px 18px;
    border: 2px solid #000;

    background: #ff6b6b;
    color: #000;

    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}