* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.bottom-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px 0 40px;
    margin-top: auto;
}

.bottom-quote {
    font-size: 1.3rem;
    flex: 2;
    text-align: center;
}

.bottom-btn-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.btn-pink {
    background-color: #e08282;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
}