/* cards.css */
.cards-section {
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
}

.card-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-wrapper h2 {
    font-size: 1.8rem;
    font-weight: normal;
    margin-bottom: 20px;
}

.card {
    background-color: #d9d9d9; /* Gris claro */
    width: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 350px;
}

.card-text {
    font-size: 1.2rem;
    margin-bottom: auto;
}

.card-icon {
    width: 80px;
    height: 80px;
    margin: 40px 0 20px 0;
}

.card-subtitle {
    font-size: 1rem;
}