.gallery-box {
    background-color: #f4f4f4;
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.image-placeholder {
    border: 1px solid #000;
    background-color: transparent;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.box-link {
    color: #000;
    text-decoration: underline;
    font-size: 1.1rem;
    text-align: right;
    align-self: flex-end;
}