<footer>
    <div class="footer-left">
        <div class="logo-footer">
            <svg class="icon-x" viewBox="0 0 100 100"><line x1="10" y1="10" x2="90" y2="90"/><line x1="90" y1="10" x2="10" y2="90"/></svg>
        </div>
        <div class="social-icons">
            <svg class="icon-x" viewBox="0 0 100 100"><line x1="10" y1="10" x2="90" y2="90"/><line x1="90" y1="10" x2="10" y2="90"/></svg>
            <svg class="icon-x" viewBox="0 0 100 100"><line x1="10" y1="10" x2="90" y2="90"/><line x1="90" y1="10" x2="10" y2="90"/></svg>
            <svg class="icon-x" viewBox="0 0 100 100"><line x1="10" y1="10" x2="90" y2="90"/><line x1="90" y1="10" x2="10" y2="90"/></svg>
            <svg class="icon-x" viewBox="0 0 100 100"><line x1="10" y1="10" x2="90" y2="90"/><line x1="90" y1="10" x2="10" y2="90"/></svg>
        </div>
    </div>

    <div class="footer-links-section">
        <div class="footer-column">
            <h4>Lorem Ipsum</h4>
            <a href="#">Lorem Ipsum</a>
            <a href="#">Lorem Ipsum</a>
            <a href="#">Lorem Ipsum</a>
            <a href="#">Lorem Ipsum</a>
        </div>

        <div class="footer-divider"></div>

        <div class="footer-column">
            <h4>Lorem Ipsum</h4>
            <a href="#">Lorem Ipsum</a>
            <a href="#">Lorem Ipsum</a>
            <a href="#">Lorem Ipsum</a>
        </div>
    </div>
</footer>