/* Estructura para tener "sticky footer" */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main.auth {
    flex: 1;
    min-height: auto;

}
.icon-x {
    stroke: currentColor;
    stroke-linecap: round;
}

.auth-card__links-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 6px;
}

.auth-card__link--register {
    margin-left: auto;
    padding-right: 2px;
}


/* Login - Móvil*/
@media (max-width: 768px) {
    body {
        background: #fff;
    }

    main.auth {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        padding-bottom: 90px;
    }

    .auth {
        min-height: auto;
        padding: 10px;
    }
}

