/* Estructura para tener "sticky footer" */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


main.auth {
    flex: 1;
    min-height: auto;

}

.auth-card__description {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 20px;
    color: #555;
    line-height: 1.4;
}

.icon-x {
    stroke: currentColor;
    stroke-linecap: round;
}